<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Just tests" configfailurepolicy="continue">
    <test name="Just tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.igor.MainTest"/>
        </classes>
    </test>
</suite>